@charset "utf-8";
@font-face {
    font-family: 'HarmonyOS';
    src: url('../fonts/HarmonyOS_Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Black.ttf')
}

body, table, td, th, ul, ol, li, div, h1, h2, h3, h4, p, span {
    font-family: 'HarmonyOS';
}

.login{  
    opacity: .8;
}
.login form{
    background: #EFEFEF;
    padding: 13px; 
}

.top{
    background: #000000;
    color: #fff200;
}

.top a{
     color: #fff200;
}

.top .logo img{
    width:67px
}
 
.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #ccc;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #fff200;
    cursor: default;
    background-color: #000;
}

.nav a{
    color: #000000;
}