@using com.yrtech.Survey.ShopSite.DTO
@{
    AccountDto loginUser = (AccountDto)Session["LoginUser"];
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type='text/javascript'>window.BWEUM || (BWEUM = {}); BWEUM.info = { "stand": true, "agentType": "browser", "agent": "browsercollector.oneapm.com/static/js/bw-send-416.7.31.js", "beaconUrl": "browsercollector.oneapm.com/beacon", "licenseKey": "VrjFJ~FEebem7IUf", "applicationID": 9992525 };</script>
    <script type="text/javascript" src="//browsercollector.oneapm.com/static/js/bw-loader-416.7.31.js"></script>
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/minimal/_all.css" rel="stylesheet" />
    <link href="~/Content/minimal/blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/lotus.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-paginator.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Content/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Scripts/page.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/echarts.min.js"></script>
    
</head>
<body>
    <div id="header" class="top inline-block-father">
        <div class="container">
            <div class="logo inline-block"><img src="~/Content/images/logo.png" onclick="backhome()" style="cursor:pointer" /></div>
            <div class="welcome inline-block pull-right">
                <span>欢迎，@loginUser.AccountName</span>
                <a href="/Account/Logoff" class="inline-block">退出</a>
                <a href="/Account/ChangePassword" class="inline-block">修改密码</a>
            </div>
            <div class="menu inline-block pull-right" style="min-width:100px;">
                @*<a href="#" onclick="backhome()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a>*@
            </div>
        </div>
    </div>

    @RenderBody()

    @*<div class="bottom text-center">
    © 2019-20XX 北京有限公司
    </div>*@   

    <script>
        $(function () { 
            $('.modal').modal({ backdrop: 'static', show: false });

            var title = window.document.title;
            $(".menu .list-group a.list-group-item").each(function () {
                if ($(this).html() == title) {
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            })

            $(document).ajaxComplete(function (event, result, options) {
                try {
                    if (result.responseText.charAt(0) != '{')
                        return;
                    var result = $.parseJSON(result.responseText);
                    if (result.Status == 401) {
                        alert(result.Message, function () {
                            window.location.href = "/Account/Login?ReturnUrl=" + result.ReturnUrl;
                        });
                    }
                } catch (ex) {

                }
            });

            $(document).ajaxError(function (event, response, options) {
                if (response) {
                    var data = JSON.parse(response.responseText);
                    $("#btnLogin").button('reset');
                    $(".btn-check").button('reset');
                    alert(data.ErrMsg);
                }
            })

            //checkbox 样式
            //$('input[type=checkbox],input[type=radio]').iCheckParser();

        });
        //加载登录用户
        var loginUser;
        try {
            if (window.localStorage.userJson) {
                loginUser = JSON.parse(window.localStorage.userJson);
                console.log('loginUser', loginUser)
                //var ossInfo = {}
                //loginUser.OSSInfo.forEach(function (item) {
                //    ossInfo[item.HiddenCode] = item.HiddenName;
                //})
                //ossInfo.osshost = ossInfo.EndPoint.substr(0, 7) + ossInfo.Bucket + "." + ossInfo.EndPoint.substr(7) + "/";
                //window.localStorage.osshost = ossInfo.osshost;
                //console.log('window.localStorage.osshost', window.localStorage.osshost) 
            } else {
                alert("没有登录用户，跳转到登录界面！");
                window.location.href = "/Account/Login";
            }
        } catch (e) { console.err(e) }


        $.fn.iCheckParser = function () {
            if (this) {
                $(this).iCheck({
                    checkboxClass: 'icheckbox_minimal-blue',
                    radioClass: 'iradio_minimal-blue',
                    increaseArea: '20%' // optional
                })
            }
        }

        function backhome() {
           // window.location.href = "/Report/Index";
            window.location.href = "/Appeal/Index";
        }

        $.fn.serializeObject = function () {
            var obj = {};
            var arr = $(this).serializeArray();
            for (i in arr) {
                obj[arr[i].name] = arr[i].value;
            }
            return obj;
        }

        $(document).on("show.bs.modal", ".modal", function () {
            // draggable 属性规定元素是否可拖动
            $(this).draggable({
                handle: ".modal-header", // 只能点击头部拖动
                cursor: 'move' //光标呈现为指示链接的指针（一只手）,
            });
            $(this).css("overflow", "hidden"); // 防止出现滚动条，出现的话，你会把滚动条一起拖着走的
        });

        function viewPicutes(url) {
            let fileList = url ? url.split(';') : []
            if (!fileList || fileList.length == 0) {
                alert("没有照片！")
                return;
            }
            var galley = document.getElementById('galley');
            var count = fileList.length;
            $("#galley").empty()
            $.each(fileList, function (i, item) {
                var imgUrl = loginUser.ossInfo.osshost + item;
                var imgThumbUrl = imgUrl + '?x-oss-process=image/resize,m_fill,h_180,w_240';
                var imagA = $('<li></li>');
                let name = item.substr(item.lastIndexOf('/') + 1);
                var img = $('<img>').attr('src', imgThumbUrl).attr("alt", (i + 1) + "/" + count + "   " + name);
                img.attr('data-original', imgUrl)
                $(imagA).append(img);

                $("#galley").append(imagA);
            })
            setTimeout(function () {
                if (!viewer) {
                    var viewer = new Viewer(galley, {
                        url: 'data-original',
                        title: function (image) {
                            return image.alt + ' (' + (this.index + 1) + '/' + this.length + ')';
                        },
                        hidden: function () {
                            viewer.destroy();
                        },
                    });
                }
                $("#galley img:first").click()
            }, 200)
        }
        //取窗口可视范围的高度
        function getClientHeight() {
            var clientHeight = 0;
            if (document.body.clientHeight && document.documentElement.clientHeight) {
                clientHeight = document.documentElement.clientHeight;
            }
            else {
                clientHeight = document.documentElement.clientHeight;
            }
            return clientHeight;
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>