@using com.yrtech.Survey.ShopSite.DTO
@{

    Layout = "~/Views/DOSAudit/_DOSAuditLayout.cshtml";
    ViewBag.Title = "单店报告";
    AccountDto accountDto = Session["LoginUser"] as AccountDto;
}

@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script type="text/javascript" language="javascript">
        var roleType = '@accountDto.RoleType';

        var ossUrlRoot = 'https://yrsurvey.oss-cn-beijing.aliyuncs.com/';

        var types = ["BusinessArea", "WideArea", "BigArea", "MiddleArea", "SmallArea", "Shop"];
        $(function () {

            $('.i,.opens').click(function () {
                $('.i').children("font").toggleClass("other");
                $('#searchForm').slideToggle();
                $('#searchForm').toggleClass('none');
                $('.opens').slideToggle();
                $('.opens').toggleClass('none');
            });

            $("input[type=checkbox]").iCheckParser();

            $("#Year").change(function () {
                loadProject($(this).val(), function (data) {
                    $("#ProjectListDiv").empty();
                    if (data && data.length > 0) {
                        data.forEach(function (item) {
                            var project = $('<label class="dealer-li"> </label>');
                            project.append($('<input name="Project" type="radio">').val(item.ProjectId))
                                .append($('<font>').text(item.ProjectName));
                            $("#ProjectListDiv").append(project);
                        })
                        $("#ProjectListDiv input[type=radio]").iCheckParser();
                        $("#ProjectListDiv input[type=radio]:first").iCheck("check");
                    } else {
                        alert("当前年份无期号！");
                        return;
                    }

                    $("#btnSearch").click();
                });
            });
            for (var i = 2020; i <= 2030; i++) {
                $("#Year").append($("<option>").text(i + "").val(i + ""));
            }
            $("#Year").change();

            var loadChildArea = function (pType, cType, parentId, callback) {
                var areaList = loginUser[cType + "List"];
                if (areaList) {
                    var areaListDiv = $("#" + cType + "Div");
                    areaListDiv.empty();
                    areaList.forEach(function (item) {
                        if (parentId && item.ParentId) {
                            if (item.ParentId != parentId) {
                                return;
                            }
                        }
                        var areaLi = $('<label class="dealer-li"> </label>');
                        areaLi.append($('<input name="area-' + cType + '" type="radio">').val(item.AreaId))
                            .append($('<font>').text(item.AreaName));
                        areaListDiv.append(areaLi);
                    })
                    areaListDiv.find("input[type=radio]").iCheckParser();

                    var typeIndex = types.indexOf(cType);
                    if (typeIndex < (types.length - 1)) {
                        debugger
                        var childType = types[typeIndex + 1];
                        areaListDiv.find('input:radio').on('ifChecked', function (event) {
                            loadChildArea(cType, childType, $(this).val());
                        });
                    }
                    if (cType == "SmallArea") {
                        //小区点击
                        $("#SmallAreaDiv").find('input:radio').on('ifChecked', function (event) {
                            $("#ShopListDiv").empty();
                            var data = loginUser["ShopList"];
                            if (data) {
                                for (i in data) {
                                    var item = data[i];
                                    var shop = $('<label class="dealer-li"> </label>');
                                    shop.append($('<input type="checkbox">').val(item.ShopId))
                                        .append($('<font>').text(item.ShopName));
                                    $("#ShopListDiv").append(shop);
                                }
                            }
                            $("#ShopListDiv input[type=checkbox]").iCheckParser();
                            if (roleType == "B_Shop") {
                                $("#ShopListDiv input[type=checkbox]").iCheck("check");
                            }
                        });
                    }
                    areaListDiv.find("input[type=radio]:first").iCheck("check");
                }
                if (callback) callback();
            }

            //加载业务类型区域
            loadChildArea(null, "BusinessArea", null);


            //查询
            $("#btnSearch").click(function () {
                $("#btnSearch").button('loading');
                var params = getParams();
                console.log(params)
                if (!params) return;
                loadReport(params);
            });

            $("#btnClear").click(function () {
                SearchShopFileInfo();
            });

            $("#BusinessArea").change();

        });
        
        function getParams() {
            var proRadios = $("[name=Project]:checked");
            if (proRadios.length == 0) {
                alert("请选择期号！");
                return;
            }
            var shopIds = [];
            $("#ShopListDiv input[type='checkbox']:checked").each(function () {
                shopIds.push($(this).val());
            });
            var shopIdStr = shopIds.join(",");

            return {
                projectId: $("[name=Project]:checked").val(),
                businessType: $("#BusinessAreaDiv").find("[name=area-BusinessArea]:checked").val(),
                wideArea: $("#WideAreaDiv").find("[name=area-WideArea]:checked").val(),
                bigArea: $("#BigAreaDiv").find("[name=area-BigArea]:checked").val(),
                middleArea: $("#MiddleAreaDiv").find("[name=area-MiddleArea]:checked").val(),
                smallArea: $("#SmallAreaDiv").find("[name=area-SmallArea]:checked").val(),
                shopIdStr: shopIdStr,
                keyword: $('#keyword').val(),
                pageNum: 1,
                pageCount: 10
            };
        }

    </script>
}
<style>
    #searchForm th {
        vertical-align: middle;
    }
</style>
<div id="container" class="requir col-md-10">
    <form id="searchForm">
        <table class="table table-bordered" style="border:solid 1px #666">
            <tr>
                <th width="85" align="center">
                    业务类型
                </th>
                <td colspan="3">
                    <div id="BusinessAreaDiv">
                    </div>
                </td>
            </tr>
            <tr >
                <th width="85" align="center">
                    广域区域
                </th>
                <td colspan="3">
                    <div id="WideAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    大区
                </th>
                <td colspan="3">
                    <div id="BigAreaDiv">
                    </div>
                </td>
            </tr>
            <tr style="display:none">
                <th width="85" align="center">
                    中区
                </th>
                <td colspan="3">
                    <div id="MiddleAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    小区
                </th>
                <td colspan="3">
                    <div id="SmallAreaDiv">
                    </div>
                    @*<select id="SmallArea" name="SmallArea" class="selectpicker"></select>*@
                </td>
            </tr>
            <tr>
                <th>
                    经销商
                </th>
                <td colspan="3">
                    <div id="ShopListDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    年份
                </th>
                <td style="width:100px">
                    <select id="Year"></select>
                </td>
                <th width="85" align="center">
                    期号
                </th>
                <td style="width:880px">
                    <div id="ProjectListDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <button type="button" class="btn btn-default" style="width:100px;" id="btnClear">清&nbsp;空</button>
                    <button type="button" class="btn btn-primary" style="width:100px;" id="btnSearch">查&nbsp;询</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="opens" style="display:none">开启搜索</div>
    <div class="sechform"><div class="collapse1 text-center"><div class="i"><font></font></div></div></div>
    <form class="form-inline pull-left mb15">
        <div class="form-group">
            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="经销店代码/名称" value="">
        </div>
        <button type="button" id="btnShopCodeOrNameSearch" class="btn btn-default">搜 索</button>
    </form>
    <div class="pull-right">
        <a href="javascript:void()" id="btnDownloadReport" class="btn btn-default">导出文件</a>
    </div>
    <div class="table-responsive list comm-table-div">
        <table id="report-table" class="table table-bordered">
            <tr>
                <th width="100">经销店代码</th>
                <th width="200">经销店名称</th>
                <th width="200">文件名称</th>
                <th width="100">文件类型</th>
                <th width="100">上传时间</th>
                <th width="100">下载</th>
            </tr>
        </table>
    </div>

    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>
</div>
