@using com.yrtech.Survey.ShopSite.DTO
@{

    Layout = "~/Views/DOSAudit/_DOSAuditLayout.cshtml";
    ViewBag.Title = "单店报告";
    AccountDto accountDto = Session["LoginUser"] as AccountDto;
}

@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script type="text/javascript" language="javascript">
        var roleType = '@accountDto.RoleType';
        var roles = ["B_BussinessSysadmin", " B_WideArea", "B_BigArea", "B_MiddleArea", "B_SmallArea", "B_Shop"];
        var types = ["BusinessArea", " WideArea", "BigArea", "MiddleArea", "SmallArea", "Shop"];
        $(function () {
            $('.i,.opens').click(function () {
                $('.i').children("font").toggleClass("other");
                $('#searchForm').slideToggle();
                $('#searchForm').toggleClass('none');
                $('.opens').slideToggle();
                $('.opens').toggleClass('none');
            });

            $("input[type=checkbox]").iCheckParser();

            $("#Year").change(function () {
                loadProject($(this).val(), function (data) {
                    var lst = JSON.parse(data.Body);
                    $("#ProjectListDiv").empty();
                    if (lst) {
                        if (lst.length == 0) {
                            alert("当前年份无期号！");
                            return;
                        }
                        for (i in lst) {
                            var item = lst[i];
                            var project = $('<label class="dealer-li"> </label>');
                            project.append($('<input name="Project" type="radio">').val(item.ProjectId))
                                .append($('<font>').text(item.ProjectName));
                            $("#ProjectListDiv").append(project);
                        }
                    }
                    $("#ProjectListDiv input[type=radio]").iCheckParser();
                    $("#ProjectListDiv input[type=radio]:last").iCheck("check");
                });
            });
            for (var i = 2019; i < 2030; i++) {
                $("#Year").append($("<option>").text(i + "").val(i + ""));
            }
            $("#Year").change();

            var loadChildArea = function (pType, cType, callback) {
                $.post("/Appeal/GetAreaListByParent", {
                    area: $("#" + pType).val(),
                    type: pType
                }, function (data) {
                    $("#" + cType).empty();
                    if (data) {
                        for (i in data) {
                            var item = data[i];
                            $("#" + cType).append($("<option>").text(item.AreaName).val(item.AreaId));
                        }
                    }
                    setRoleType(cType);

                    $("#" + cType).selectpicker("refresh");
                    if (callback) callback();
                })
            }

            $("#BusinessArea").change(function () {
                loadChildArea("BusinessArea", "WideArea");
            });

            $("#WideArea").change(function () {
                loadChildArea("WideArea", "BigArea");
            });

            $("#BigArea").change(function () {
                loadChildArea("BigArea", "MiddleArea");
            });

            $("#MiddleArea").change(function () {
                loadChildArea("MiddleArea", "SmallArea");
            });

            $("#SmallArea").change(function () {
                $.post("/Appeal/GetShopListByArea", {
                    SmallArea: $(this).val()
                }, function (data) {
                    $("#ShopListDiv").empty();

                    if (data) {
                        for (i in data) {
                            var item = data[i];
                            var shop = $('<label class="dealer-li"> </label>');
                            shop.append($('<input type="checkbox">').val(item.ShopId))
                                .append($('<font>').text(item.ShopName));
                            $("#ShopListDiv").append(shop);
                        }
                    }
                    $("#ShopListDiv input[type=checkbox]").iCheckParser();
                    if (roleType == "B_Shop") {
                        $("#ShopListDiv input[type=checkbox]").iCheck("check");
                    }
                })
            });

            //查询
            $("#btnSearch").click(function () {
                $("#btnSearch").button('loading');
                var params = getParams();
                if (!params) return;
                loadReport(params);
            });

            $("#btnClear").click(function () {
                SearchShopFileInfo();
            });

            $("#BusinessArea").change();

            setTimeout(function () {
                $("#btnSearch").click();
            }, 1000);
        });

        function loadReport(params) {
            $("#btnSearch").button('reset');
        }

        function setRoleType(cType) {
            var indexRole = roles.indexOf(roleType, 0);
            var index = types.indexOf(cType, 0);

            if (indexRole>=index){
                $("#" + cType).change();
            } else {
                $("#" + cType).prepend($("<option>").text("请选择").val(""));
            }
        }

        function getParams() {
            var proRadios = $("[name=Project]:checked");
            if (proRadios.length == 0) {
                alert("请选择期号！");
                return;
            }

            var shopIds = [];
            $("#ShopListDiv input[type='checkbox']:checked").each(function () {
                shopIds.push($(this).val());
            });
            var shopIdStr = shopIds.join(",");

            return {
                projectId: $("[name=Project]:checked").val(),
                businessType: $("#BusinessArea").val(),
                wideArea: $("#WideArea").val(),
                bigArea: $("#BigArea").val(),
                middleArea: $("#MiddleArea").val(),
                smallArea: $("#SmallArea").val(),
                shopIdStr: shopIdStr,
                keyword: $('#keyword').val(),
                pageNum: 1,
                pageCount: 10
            };
        }

    </script>
}
<style>
    #searchForm th {
        vertical-align: middle;
    }
</style>
<div id="container" class="requir col-md-10">
    <form id="searchForm" style="display:none">
        <table class="table table-bordered" style="border:solid 1px #666">
            <tr>
                <th width="85" align="center">
                    业务类型
                </th>
                <td width="150px;">
                    <div id="BusinessAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    广域区域
                </th>
                <td width="150px;">
                    <div id="WideAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    大区
                </th>
                <td width="150px;">
                    <div id="BigAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    中区
                </th>
                <td>
                    <div id="MiddleAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    小区
                </th>
                <td>
                    <select id="SmallArea" name="SmallArea" class="selectpicker"></select>
                </td>
            </tr>
            <tr>
                <th>
                    经销商
                </th>
                <td colspan="5">
                    <div id="ShopListDiv">

                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    年份
                </th>
                <td>
                    <select id="Year" class="selectpicker"></select>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    期号
                </th>
                <td colspan="3">
                    <div id="ProjectListDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-center">
                    <button type="button" class="btn btn-default" style="width:100px;" id="btnClear">清&nbsp;空</button>
                    <button type="button" class="btn btn-primary" style="width:100px;" id="btnSearch">查&nbsp;询</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="opens">开启搜索</div>
    <div class="sechform"><div class="collapse1 text-center"><div class="i"><font></font></div></div></div>
    <form class="form-inline pull-left mb15">
        <div class="form-group">
            <input type="text" class="form-control" name="sShopCodeOrName" id="txtShopCodeOrName" placeholder="经销店代码/名称" value="">
        </div>
        <button type="button" id="btnShopCodeOrNameSearch" class="btn btn-default">搜 索</button>
    </form>
    <div class="pull-right">
        <a href="javascript:void()" id="btnDownloadReport" class="btn btn-default">导出文件</a>
    </div>
    <div class="table-responsive list comm-table-div">
        <table class="table table-bordered">
            <tr>
                <th width="50">操作</th>
                <th width="500">文件名</th>
                <th width="120">经销店名称</th>
                <th width="100">上传时间</th>
            </tr>
        </table>
    </div>

    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>
</div>
