@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}
@*<link href="~/Content/css/news.css" rel="stylesheet" />*@
@section scripts{
    <script>
        $(function () {
            $('.i,.opens').click(function () {
                $('.i').children("font").toggleClass("other");
                $('#searchForm').slideToggle();
                $('#searchForm').toggleClass('none');
                $('.opens').slideToggle();
                $('.opens').toggleClass('none');
            });
            $(".news-panel h4.remove i").click(function () {
                $(".news-panel").remove();
                $.get("../Base/CloseNotice", {}, function () { });
            });

            //loadNotice();
        });

        function loadNotice() {
            $(".news-panel ul").empty();
            $.get("../Base/LoadTopNotice", {}, function (data) {
                if (!data) {
                    $(".news-panel").hide();
                    return;
                }

                if (data.Status) {
                    if (data.DataList && data.DataList.length > 0) {
                        $.each(data.DataList, function (index, item) {
                            var content = item.NoticeContent;
                            var li = $("<a class='list-group-item remove'></a>");
                            li.html(item.NoticeContent + "<br />" + "更新时间：" + item.InDateTime + '<i></i>');
                            li.find("i").click(function () {
                                $.post("../Base/UpdateNotice", { noticeId: item.NoticeId }, function (SaveData) {
                                    if (SaveData.Status) {
                                        loadNotice();
                                    } else {
                                        alert(SaveData.ErrMsg);
                                    }
                                })
                            });
                            $(".news-panel ul").append(li);
                        });
                        //$("#hotNews").show();
                    } else {
                        //$("#hotNews").hide();
                    }
                } else {
                    alert(Data.ErrMsg);
                }
            });
        }
        function checkInitPassword() {
            if ('@ViewBag.Password' == '12345') {
                alert("未修改初始密码，修改后才可以进行操作");
                return false
            }
            else {
                return true
            }
        }
    </script>
}
<div class="ad"><img src="~/Content/images/ad.jpg" width="100%" /></div>
<div class="container">
    @{if (ViewBag.RoleTypeCode == "Max_Mystery" || ViewBag.ReportType == "Mystery")
        {
            <h1 class="title"><font>密采销售报告</font></h1>
        }
        else
        {
            <h1 class="title"><font>明采销售报告</font></h1>
        }
    }
    <div class="row">
        @{
            if (ViewBag.RoleTypeCode == "Max_Mystery" || ViewBag.ReportType == "Mystery")
            {
                <div class="col-xs-3 text-center">  <a href="/DOSAudit/QuarterlyReport" onclick='return checkInitPassword();'><img src="~/Content/images/pic01.jpg" /><h4>- 单店报告 -</h4></a></div>
                <div class="col-xs-3 text-center"> <a href="/Appeal/Index" onclick='return checkInitPassword();'><img src="~/Content/images/pic01.jpg" /><h4>- 申诉处理 -</h4></a></div>
            }
            else
            {
                <div class="col-xs-3 text-center">  <a href="/DOSAudit/QuarterlyReport" onclick='return checkInitPassword();'><img src="~/Content/images/pic03.jpg" /><h4>- 单店报告 -</h4></a></div>
                <div class="col-xs-3 text-center"> <a href="/Appeal/Index" onclick='return checkInitPassword();'><img src="~/Content/images/pic04.jpg" /><h4>- 申诉处理 -</h4></a></div>
            }

        }

    </div>
</div>
