@{
    Layout = "~/Views/Appeal/_AppealLayout.cshtml";
    ViewBag.Title = "申诉编辑";
    com.yrtech.Survey.ShopSite.DTO.AccountDto accountDto = Session["LoginUser"] as com.yrtech.Survey.ShopSite.DTO.AccountDto;
}
<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20170928"></script>
<script src="~/Scripts/custom/form-serialize.js"></script>

@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script>
        var appealId = "@ViewBag.AppealId";
        var userId = "@accountDto.Id";
        var roleType = "@accountDto.RoleType";
        var BrandId = "@accountDto.BrandId";

        var type = "Shop";
        var ossUrlRoot = 'https://yrsurvey.oss-cn-beijing.aliyuncs.com/';
        var downloadUrlRoot;
        var FeedBackStatus;
        $(function () {           
            getAppeal(appealId, function (data) {
                $("#appeal-form").setForm(data);
                $("#ProjectCode").html(data.ProjectName);
                $("#ShopName").html(data.ShopName);
                $("#SubjectCode").html(data.SubjectCode);
                FeedBackStatus = data.FeedBackStatus;
                if (data.FeedBackStatus) {
                    $("#btnSave").hide();
                    $("#selectfiles").hide();
                    $("#postfiles").hide();
                }

                var brand_project_appeal = BrandId + '/' + data.ProjectId + '/' + data.AppealId;
                var osspath = "survey/Appeal/" + brand_project_appeal + "/" + type + "/";
                downloadUrlRoot = ossUrlRoot + osspath;
                //初始化LexusReport OSS 数据源
                ossClient = new OSSClient({
                    fileAddCheck: function () {
                        return true;
                    },
                    fileAddCheckMsg: "请填写题号，再选择上传附件",
                    osspath: osspath,
                    uploaded: function (args) {
                        var file = '';
                        if (args.fileName.indexOf('_') >= 0) {
                            file = args.fileName.substr(args.fileName.indexOf('_') + 1);
                        }

                        appealFileSave({
                            AppealId: data.AppealId,
                            InUserId: userId,
                            FileName: file,
                            ServerFileName: args.fileName,
                            FileType:'Shop',
                        }, function (data) {
                            loadAppealFiles();
                        });
                    }
                });
                if (data.FeedBackStatus) {
                    $("#AppealReason").prop("disabled", true);
                }
            });
            loadAppealFiles();


            $("#btnSave").click(function () {
                //经销商
                if ($("#AppealReason").val().length == 0) {
                    alert("申诉理由必填");
                    return false;
                }
                $("#btnSave").button('loading');
                appealApply({
                    appealId: appealId,
                    appealReason: $("#AppealReason").val(),
                    appealUserId: userId
                }, function () {
                    $("#btnSave").button('reset');
                    alert("提交申诉成功！");
                })
            });


        })
               
        function loadAppealFiles() {
            loadFileList({
                appealId: appealId,
                fileType: ''
            }, function (data) {
                $("#feedback_file_table tbody").empty();
                if (data) {
                    $.each(data, function (i, item) {
                        var tr = $("<tr>");
                        
                        var fileDownName = item.FileName;
                        tr.append($("<td>").html(fileDownName));
                        tr.append($("<td>").html(item.FileTypeName));
                        tr.append($("<td>").html(item.InUserName));
                        //下载
                        var download = $("<a>下载</a>");
                        var downloadUrl = downloadUrlRoot + item.ServerFileName;
                        download.attr("href", downloadUrl);
                        tr.append($("<td></td>").append(download));
                        //删除
                        if (FeedBackStatus) {
                            tr.append($("<td></td>"));
                        } else {
                            var delBtn = $("<a href='#'>删除</a>");
                            delBtn.click(function () {
                                console.log(item)
                                delFile(item.FileId);
                                return false;
                            });
                            tr.append($("<td></td>").append(delBtn));
                        }                        

                        $("#feedback_file_table tbody").append(tr);
                    });
                }
            });
        }


        function delFile(fileId) {
            confirm("确定要删除该文件吗？", function () {
                appealFileDelete({ fileId: fileId }, function () {
                    loadAppealFiles();
                });
            });
        }
    </script>
}

<div class="requir col-md-10">
    <form id="appeal-form">
        <div style="width:100%;padding-bottom:5px;" class="text-right">            
            <a id="btnSave" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;存</a>
        </div>
        <table class="table table-bordered" style="margin-bottom:0px;">
            <tr>
                <th style="width:150px;">期号</th>
                <td style="width:150px; text-align:center">
                    <span id="ProjectCode"></span>
                </td>
                <th style="width:100px;">经销店</th>
                <td style="width: 200px; text-align: center">
                    <span id="ShopName"></span>
                </td>
                <th style="width:100px;">体系号</th>
                <td style="width: 150px; text-align: center">
                    <span id="SubjectCode"></span>
                </td>
            </tr>
            <tr>
                <th>指标</th>
                <td colspan="5"><textarea class="form-control" rows="2" id="CheckPoint" name="CheckPoint" disabled></textarea></td>
            </tr>
            <tr>
                <th>申诉理由</th>
                <td colspan="5"><textarea class="form-control" rows="2" id="AppealReason" name="AppealReason"></textarea></td>
            </tr>

            <tr class="feedback">
                <th>反馈意见</th>
                <td colspan="5">
                    <input id="FeedBackStatusStr" name="FeedBackStatusStr" style="border:none;background-color:transparent" readonly/>
                </td>
            </tr>
            <tr class="feedback">
                <th width="180">反馈内容</th>
                <td colspan="5"><textarea class="form-control" rows="2" id="FeedBackReason" name="FeedBackReason" disabled></textarea></td>
            </tr>
        </table>
    </form>

    <table class="table table-bordered">
        <tr>
            <th style="width:185px;">附件</th>
            <td colspan="5">
                <div id="upload-container" class="container-fluid" style="margin:0;padding:0">
                    <div id="ossfile"></div>
                    <div id="console"></div>
                </div>
                <div class="container-fluid pull-right">
                    <button id="selectfiles" class='btn btn-default'>选择文件</button>
                    <button id="postfiles" class='btn btn-primary'>开始上传</button>
                </div>
                <table id="feedback_file_table" class="table table-bordered table-condensed list" style="margin-bottom:10px;font-size:12px">
                    <thead>
                        <tr>
                            <th class="col-md-7">文件名</th>
                            <th class="col-md-1">文件类型</th>
                            <th class="col-md-1">上传账号</th>
                            <th>下载</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
