@using com.yrtech.Survey.ShopSite.DTO
@{
    Layout = "~/Views/Appeal/_AppealLayout.cshtml";
    ViewBag.Title = "申诉查询";
    AccountDto accountDto = Session["LoginUser"] as AccountDto;
}
<style>
    .link-btn-cell {
        margin: 3px 5px 0px;
        cursor: pointer;
    }
</style>
@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script type="text/javascript" language="javascript">
        var roleType = '@accountDto.RoleType';
        var roles = ["B_BussinessSysadmin", " B_WideArea", "B_BigArea", "B_MiddleArea", "B_SmallArea", "B_Shop"];
        var types = ["BusinessArea", " WideArea", "BigArea", "MiddleArea", "SmallArea", "Shop"];
        $(function () {
            $('.i,.opens').click(function () {
                $('.i').children("font").toggleClass("other");
                $('#searchForm').slideToggle();
                $('#searchForm').toggleClass('none');
                $('.opens').slideToggle();
                $('.opens').toggleClass('none');
            });

            $("input[type=checkbox]").iCheckParser();

            $("#Year").change(function () {
                loadProject($(this).val(), function (data) {
                    var lst = JSON.parse(data.Body);
                    $("#ProjectListDiv").empty();
                    if (lst) {
                        if (lst.length == 0) {
                            alert("当前年份无期号！");
                            return;
                        }
                        for (i in lst) {
                            var item = lst[i];
                            var project = $('<label class="dealer-li"> </label>');
                            project.append($('<input name="Project" type="radio">').val(item.ProjectId))
                                .append($('<font>').text(item.ProjectName));
                            $("#ProjectListDiv").append(project);
                        }
                    }
                    $("#ProjectListDiv input[type=radio]").iCheckParser();
                    $("#ProjectListDiv input[type=radio]:last").iCheck("check");                    
                });
            });
            for (var i = 2019; i < 2030; i++) {
                $("#Year").append($("<option>").text(i + "").val(i + ""));
            }
            $("#Year").change();

            var loadChildArea = function (pType, cType, callback) {
                $.post("/Appeal/GetAreaListByParent", {
                    area: $("#" + pType).val(),
                    type: pType
                }, function (data) {
                    $("#" + cType).empty();
                    if (data) {
                        for (i in data) {
                            var item = data[i];
                            $("#" + cType).append($("<option>").text(item.AreaName).val(item.AreaId));
                        }
                    }
                    setRoleType(cType);                    
                    
                    $("#" + cType).selectpicker("refresh");
                    if (callback) callback();
                })
            }
           
            $("#BusinessArea").change(function () {
                loadChildArea("BusinessArea", "WideArea");
            });

            $("#WideArea").change(function () {
                loadChildArea("WideArea", "BigArea");
            });

            $("#BigArea").change(function () {
                loadChildArea("BigArea", "MiddleArea");
            });

            $("#MiddleArea").change(function () {
                loadChildArea("MiddleArea", "SmallArea");
            });

            $("#SmallArea").change(function () {
                $.post("/Appeal/GetShopListByArea", {
                    SmallArea: $(this).val()
                }, function (data) {
                    $("#ShopListDiv").empty();
                    
                    if (data) {                        
                        for (i in data) {
                            var item = data[i];
                            var shop = $('<label class="dealer-li"> </label>');
                            shop.append($('<input type="checkbox">').val(item.ShopId))
                                .append($('<font>').text(item.ShopName));
                            $("#ShopListDiv").append(shop);
                        }
                    }
                    $("#ShopListDiv input[type=checkbox]").iCheckParser();
                    if (roleType == "B_Shop") {
                        $("#ShopListDiv input[type=checkbox]").iCheck("check");
                    }

                    $("#btnSearch").click();
                })
            });

            //查询
            $("#btnSearch").click(function () {
                $("#btnSearch").button('loading');
                var params = getParams();
                if (!params) return;
                loadAppeal(params);
            });

            $("#btnClear").click(function () {
                SearchShopFileInfo();
            });
           
            $("#BusinessArea").change();

        });
        function setRoleType(cType) {
            var indexRole = roles.indexOf(roleType, 0);
            var index = types.indexOf(cType, 0);
                        
            if (indexRole>=index){
                $("#" + cType).change();
            } else {
                $("#" + cType).prepend($("<option>").text("请选择").val(""));
            }
        }

        function getParams() {
            var proRadios = $("[name=Project]:checked");
            if (proRadios.length == 0) {
                alert("请选择期号！");
                return;
            }

            var shopIds = [];
            $("#ShopListDiv input[type='checkbox']:checked").each(function () {
                shopIds.push($(this).val());
            });
            var shopIdStr = shopIds.join(",");
            
            return {
                projectId: $("[name=Project]:checked").val(),
                businessType: $("#BusinessArea").val(),
                wideArea: $("#WideArea").val(),
                bigArea: $("#BigArea").val(),
                middleArea: $("#MiddleArea").val(),
                smallArea: $("#SmallArea").val(),
                shopIdStr: shopIdStr,
                keyword: $('#keyword').val(),
                pageNum: 1,
                pageCount: 10
            };
        }

    </script>
}
<style>
    #searchForm th {
        vertical-align: middle;
    }
</style>
<div id="container" class="col-md-10">
    <form id="searchForm" style="display:none">
        <table class="table table-bordered" style="border:solid 1px #666">
            <tr>
                <th width="85" align="center">
                    业务类型
                </th>
                <td width="150px;">
                    @Html.DropDownList("BusinessArea", (SelectList)ViewBag.BusinessAreaList, new { @class = "selectpicker" })
                </td>
                <th width="85" align="center">
                    广域区域
                </th>
                <td width="150px;">
                    <select id="WideArea" name="WideArea" class="selectpicker"></select>
                </td>
                <th width="85" align="center">
                    大区
                </th>
                <td width="150px;">
                    <select id="BigArea" name="BigArea" class="selectpicker"></select>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    中区
                </th>
                <td>
                    <select id="MiddleArea" name="MiddleArea" class="selectpicker"></select>
                </td>
                <th width="85" align="center">
                    小区
                </th>
                <td>
                    <select id="SmallArea" name="SmallArea" class="selectpicker"></select>
                </td>
                <th width="85" align="center">
                </th>
                <td></td>
            </tr>
            <tr>
                <th>
                    经销商
                </th>
                <td colspan="5">
                    <div id="ShopListDiv">

                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    年份
                </th>
                <td>
                    <select id="Year" class="selectpicker"></select>
                </td>
                <th width="85" align="center">
                    期号
                </th>
                <td colspan="3">
                    <div id="ProjectListDiv">

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-center" style="line-height:40px;">
                    <button type="button" class="btn btn-default" style="width:100px; margin-right:20px" id="btnClear">清&nbsp;空</button>
                    <button type="button" class="btn btn-primary" style="width:100px;" id="btnSearch">查&nbsp;询</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="opens">开启搜索</div>
    <div class="sechform"><div class="collapse1 text-center"><div class="i"><font></font></div></div></div>
    <form class="form-inline pull-left mb15">
        <div class="form-group">
            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="经销店代码/名称" value="">
        </div>
        <button type="button" id="btnShopCodeOrNameSearch" class="btn btn-default">搜 索</button>
    </form>
    <div class="pull-right">
        <a href="javascript:void()" id="btnDownloadReport" class="btn btn-default">导出文件</a>
    </div>
    <p></p>
    <div class="list" style="overflow:auto;width:100%">
        <div class="table-responsive comm-table-div">
            <table id="appeal-table" class="table table-bordered table-set">
                <thead>
                    <tr>
                        <th style="width:100px">操作</th>
                        <th style="width:80px">经销店代码</th>
                        <th style="width:250px">经销店名称</th>
                        <th style="width:60px">体系号</th>
                        <th style="width:300px">检查点</th>
                        <th style="width:50px">得分</th>
                        <th style="width:70px">申诉人</th>
                        <th style="width:130px">申诉时间</th>
                        <th style="width:200px">申诉理由</th>
                        <th style="width:75px">反馈意见</th>
                        <th style="width:200px">反馈理由</th>
                        <th style="width:70px">反馈人</th>
                        <th style="width:130px">反馈时间</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                    <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

