@using com.yrtech.Survey.ShopSite.DTO
@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
    ViewBag.Title = "申诉查询";
}
<style>
    .link-btn-cell {
        margin: 3px 5px 0px;
        cursor: pointer;
    }
</style>
@section scripts{
    <script src="~/Scripts/api.js?20230427"></script>
    <script type="text/javascript" language="javascript">
        alert("请仅对需要申诉的项目进行填写，无需申诉的指标可跳过！");
        var types = ["BussinessArea", "WideArea", "BigArea", "MiddleArea", "SmallArea"];
        $(function () {
            var roleType = loginUser.RoleType;

            $('.i,.opens').click(function () {
                $('.i').children("font").toggleClass("other");
                $('#searchForm').slideToggle();
                $('#searchForm').toggleClass('');
                $('.opens').slideToggle();
                $('.opens').toggleClass('');
            });
            //$("input[type=checkbox]").iCheckParser();

            $("#Year").change(function () {
                loadProject($(this).val(), function (data) {
                    $("#ProjectListDiv").empty();
                    if (data && data.length > 0) {
                        data.forEach(function (item) {
                            var project = $('<label class="dealer-li"> </label>');
                            project.append($('<input name="Project" type="radio">').val(item.ProjectId))
                                .append($('<font>').text(item.ProjectShortName));
                            $("#ProjectListDiv").append(project);
                        })
                        $("#ProjectListDiv input[type=radio]").iCheckParser();
                        $("#ProjectListDiv input[type=radio]:first").iCheck("check");
                    } else {
                        alert("当前年份无期号！");
                        return;
                    }

                    $("#btnSearch").click();
                });
            });
            for (var i = 2020; i <= 2030; i++) {
                $("#Year").append($("<option>").text(i + "").val(i + ""));
            }
            var tYear = new Date().getFullYear();
            $("#Year").val(tYear);
            $("#Year").change();

            var loadChildArea = function (pType, cType, parentId, callback) {
                var areaList = loginUser[cType + "List"];
                if (areaList) {
                    var areaListDiv = $("#" + cType + "Div");
                    //areaListDiv.find("input:radio").iCheck('destroy');
                    areaListDiv.empty();
                    areaList = areaList.filter(function (item) {
                        if (parentId && item.ParentId) {
                            return item.ParentId == parentId;
                        } else {
                            return true;
                        }
                    })
                    areaList.forEach(function (item) {
                        var areaLi = $('<label class="dealer-li"> </label>');
                        areaLi.append($('<input id="area-' + cType + item.AreaId + '" name="area-' + cType + '" type="radio">').val(item.AreaId))
                            .append($('<font>').text(item.AreaName));
                        areaListDiv.append(areaLi);
                    })

                    var typeIndex = types.indexOf(cType);
                    if (typeIndex < (types.length - 1)) {
                        var childType = types[typeIndex + 1];
                        areaListDiv.find('input:radio').unbind("ifChecked").on('ifChecked', function (event) {
                            loadChildArea(cType, childType, $(this).val());
                        });
                    }

                    if (cType == "SmallArea") {
                        //小区点击
                        var radioList = $("#SmallAreaDiv").find('input:radio');
                        radioList.each(function () {
                            var radio = $(this)
                            radio.on('ifChecked', function (event) {
                                console.log("SmallAreaDiv ifChecked ", event.currentTarget)
                                var areaId = $(this).val();
                                var data = loginUser["ShopList"];
                                data = data.filter(function (shop) {
                                    return shop.AreaId == areaId;
                                })
                                $("#ShopListDiv").find("input:checkbox").iCheck('destroy');
                                $("#ShopListDiv").empty();
                                if (data) {
                                    for (i in data) {
                                        var item = data[i];
                                        var shop = $('<label class="dealer-li"> </label>');
                                        shop.append($('<input type="checkbox">').val(item.ShopId))
                                            .append($('<font>').text(item.ShopName));
                                        $("#ShopListDiv").append(shop);
                                    }
                                }

                                $("#ShopListDiv input[type=checkbox]").iCheckParser();
                                if (roleType == "B_Shop") {
                                    $("#ShopListDiv input[type=checkbox]").iCheck("check");
                                }
                            });
                        })
                    }
                    areaListDiv.find("input[type=radio]").iCheckParser();
                    areaListDiv.find("input[type=radio]:first").iCheck("check");
                    if (cType == "SmallArea" && roleType == "B_Brand") {
                        areaListDiv.find("input[type=radio]:first").iCheck("uncheck");
                    }
                }
                if (callback) callback();
            }

            //加载业务类型区域
            loadChildArea(null, "BussinessArea", null);

            if (roleType == "B_Shop") {
                //$("#createBtn").show();
            }

            //查询
            $("#btnSearch,#btnSearchByKey").click(function () {
                $("#btnSearch").button('loading');
                var params = getParams();
                console.log(params)
                if (!params) return;
                loadAppeal(params);
                $("#btnSearch").button('reset');
            });

            $("#btnClear").click(function () {

            });

            $("#btnDownloadReport").click(function () {
                downloadFileBatch();
            });

        });
        function downloadFileBatch() {
            var params = getParams();
            $("#btnDownloadReport").button('loading');
            $.commonGet("Appeal/AppealExport", params, function (data) {
                $("#btnDownloadReport").button('reset');
                if (data.indexOf("D:") >= 0) {
                    data = data.replace(/\\/g, "/").substr(data.indexOf("DownLoadFile"));
                }
                window.location.href = baseUrl + data;
                console.log(window.location.href)
            });

        }

        $("#createBtn").click(function () {
            var projectId = $("[name=Project]:checked").val();
            var ProjectName = $("[name=Project]:checked").parent().next().text();
            window.location.href = "/Appeal/Edit?projectId=" + projectId + "&ProjectName=" + ProjectName;
            return false;
        });

        function getParams() {
            var proRadios = $("[name=Project]:checked");
            if (proRadios.length == 0) {
                alert("请选择期号！");
                return;
            }
            var shopIds = [];
            $("#ShopListDiv input[type='checkbox']:checked").each(function () {
                shopIds.push($(this).val());
            });
            var shopIdStr = shopIds.join(",") || '';
           if (loginUser.RoleType == "B_Shop") {
                getAppealShopSetCheck($("[name=Project]:checked").val() || '', shopIdStr )
            }

            return {
                projectId: $("[name=Project]:checked").val() || '',
                bussinessType: $("#BussinessAreaDiv").find("[name=area-BussinessArea]:checked").val() || '',
                wideArea: $("#WideAreaDiv").find("[name=area-WideArea]:checked").val() || '',
                bigArea: $("#BigAreaDiv").find("[name=area-BigArea]:checked").val() || '',
                middleArea: $("#MiddleAreaDiv").find("[name=area-MiddleArea]:checked").val() || '',
                smallArea: $("#SmallAreaDiv").find("[name=area-SmallArea]:checked").val() || '',
                shopIdStr: shopIdStr,
                keyword: $('#keyword').val() || '',
                pageNum: 1,
                pageCount: 10000,
                roleType: loginUser.RoleType
            };
        }

    </script>
}
<style>
    #searchForm th {
        vertical-align: middle;
    }
</style>
<div id="container" class="col-md-10">
    <form id="searchForm" style="display:block">
        <table class="table table-bordered" style="border:solid 1px #666">
            <tr style="display:none">
                <th width="85" align="center">
                    业务类型
                </th>
                <td colspan="3">
                    <div id="BussinessAreaDiv">
                    </div>
                </td>
            </tr>
            <tr style="display: none; ">
                <th width="85" align="center">
                    广域区域
                </th>
                <td colspan="3">
                    <div id="WideAreaDiv">
                    </div>
                </td>
            </tr>
            <tr style="display: none; ">
                <th width="85" align="center">
                    大区
                </th>
                <td colspan="3">
                    <div id="BigAreaDiv">
                    </div>
                </td>
            </tr>
            <tr >
                <th width="85" align="center">
                    中区
                </th>
                <td colspan="3">
                    <div id="MiddleAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    小区
                </th>
                <td colspan="3">
                    <div id="SmallAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    经销商
                </th>
                <td colspan="3">
                    <div id="ShopListDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    年份
                </th>
                <td style="width: 100px; vertical-align: middle; " align="center" >
                 <select id="Year"></select>
                   
                </td>
                <th width="85" align="center">
                    期号
                </th>
                <td style="width:880px">
                    <div id="ProjectListDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <button type="button" class="btn btn-default" style="width:100px;" id="btnClear">清&nbsp;空</button>
                    <button type="button" class="btn btn-primary" style="width:100px;" id="btnSearch">查&nbsp;询</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="opens">开启搜索</div>
    <div class="sechform"><div class="collapse1 text-center"><div class="i"><font></font></div></div></div>
    @*<form class="form-inline pull-left mb15">
            <div class="form-group">
                <input type="text" class="form-control" name="keyword" id="keyword" placeholder="经销店代码/名称" value="">
            </div>
            <button type="button" id="btnSearchByKey" class="btn btn-default">搜 索</button>
        </form>*@
    <div class="pull-right">
        @*<a id="createBtn" href="#" class="btn btn-primary" style="display:none">申诉登记</a>*@
         @*<a id="btnDownloadReport" href="javascript:void()" class="btn btn-default">导出文件</a>*@
    </div>
    <p></p>
    <div class="list" style="overflow:auto;width:100%">
        <div class="table-responsive comm-table-div">
            <table id="appeal-table" class="table table-bordered table-set">
                <thead>
                    <tr>
                        <th style="width:100px">操作</th>
                        <th style="width:80px">经销店代码</th>
                        <th style="width:250px">经销店名称</th>
                        <th style="width:60px">题号</th>
                        <th style="width:230px">检查点</th>
                        <th style="width:450px">申诉理由</th>
                        @*<th style="width:70px">申诉人</th>
                            <th style="width:130px">申诉时间</th>*@
                        <th style="width:75px">反馈状态</th>
                        <th style="width:450px">反馈内容</th>
                        @*<th style="width:70px">反馈人</th>
                            <th style="width:130px">反馈时间</th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                    <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

