@using com.yrtech.Survey.ShopSite.DTO
@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
    ViewBag.Title = "申诉查询";
}
<style>
    .link-btn-cell {
        margin: 3px 5px 0px;
        cursor: pointer;
    }

    .sechform .collapse1 .i {
        line-height: 20px;
        height: 20px;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .dropdown-menu .dropdown-item {
        display: block;
        margin: 10px;
    }
</style>
@section scripts{
    <script src="~/Scripts/api.js?20230427"></script>
    <script type="text/javascript" language="javascript">

        var projectId = "@ViewBag.ProjectId";
        var types = ["BussinessArea", "WideArea", "BigArea", "MiddleArea", "SmallArea"];
        $(function () {
            var roleType = loginUser.RoleType;

            $('.i,.opens').click(function () {
                $('#searchForm').toggleClass('');
                $('#searchForm').slideToggle(300, 'linear', function () {
                    $('.i').children("font").toggleClass("other");
                    $('.opens').slideToggle();
                    $('.opens').toggleClass('');
                });
            });
            $("#Year").change(function () {
                loadProject($(this).val(), function (data) {
                    $("#Project").empty();
                    if (data && data.length > 0) {
                        data.forEach(function (item) {
                            var project = $('<label class="dealer-li"> </label>');
                            var projectChk = $('<input name="Project" type="radio">').val(item.ProjectId)
                            if (projectId && projectId == item.ProjectId) {
                                projectChk.attr('checked', true)
                            }
                            project.append(projectChk).append($('<font>').text(item.ProjectName));
                            $("#ProjectListDiv").append(project);
                        })
                        $()
                        $("#ProjectListDiv input[type=radio]").iCheckParser();
                        if (!projectId) {
                            $("#ProjectListDiv input[type=radio]:first").iCheck("check");
                        }
                    } else {
                        alert("当前年份无期号！");
                        return;
                    }

                    $("#btnSearch").click();
                });
            });

            var loadChildArea = function (pType, cType, parentId, callback) {
                var areaList = loginUser[cType + "List"];
                if (areaList) {
                    var areaListDiv = $("#" + cType + "Div");
                    //areaListDiv.find("input:radio").iCheck('destroy');
                    areaListDiv.empty();
                    areaList = areaList.filter(function (item) {
                        if (parentId && item.ParentId) {
                            return item.ParentId == parentId;
                        } else {
                            return true;
                        }
                    })
                    areaList.forEach(function (item) {
                        var areaLi = $('<label class="dealer-li"> </label>');
                        areaLi.append($('<input id="area-' + cType + item.AreaId + '" name="area-' + cType + '" type="radio">').val(item.AreaId))
                            .append($('<font>').text(item.AreaName));
                        areaListDiv.append(areaLi);
                    })

                    var typeIndex = types.indexOf(cType);
                    if (typeIndex < (types.length - 1)) {
                        var childType = types[typeIndex + 1];
                        areaListDiv.find('input:radio').unbind("ifChecked").on('ifChecked', function (event) {
                            loadChildArea(cType, childType, $(this).val());
                        });
                    }

                    if (cType == "SmallArea") {
                        //小区点击
                        var radioList = $("#SmallAreaDiv").find('input:radio');
                        radioList.each(function () {
                            var radio = $(this)
                            radio.on('ifChecked', function (event) {
                                console.log("SmallAreaDiv ifChecked ", event.currentTarget)
                                var areaId = $(this).val();
                                loadShop(areaId)
                            });
                        })
                    }
                    areaListDiv.find("input[type=radio]").iCheckParser();
                    if (cType == "SmallArea" && roleType == "B_Brand") {
                        areaListDiv.find("input[type=radio]:first").iCheck("uncheck");
                        loadShop()
                    } else {
                        areaListDiv.find("input[type=radio]:first").iCheck("check");
                    }
                }
                if (callback) callback();
            }

            //加载业务类型区域
            loadChildArea(null, "BussinessArea", null);

            if (roleType == "B_Shop") {
                $("#createBtn").show();
                $("#middleAreatr").hide();
                $("#smallAreatr").hide();
            }
            else {
                $("#middleAreatr").show();
                $("#smallAreatr").show();
            }

            initAppealTable();

            //查询
            $("#btnSearch,#btnSearchByKey").click(function () {
                $("#btnSearch").button('loading');
                var params = getParams();
                console.log(params)
                if (!params) return;
                //loadAppeal(params);
                loadReportType();
                loadAppealTable(params);

                $("#btnSearch").button('reset');
            });
            for (var i = 2024; i <= 2030; i++) {
                $("#Year").append($("<option>").text(i + "").val(i + ""));
            }
            var tYear = new Date().getFullYear();
            $("#Year").val(tYear);

            if (window.localStorage.preHref && window.localStorage.preHref.indexOf('/Account/Login') >= 0) {
                if (loginUser.RoleType == 'B_Shop') {
                    alert("请仅对需要申诉的项目进行填写，无需申诉的指标可跳过！", function () {
                        $("#Year").change();
                    });
                    window.localStorage.preHref = ""
                }
                else {
                    $("#Year").change();
                    window.localStorage.preHref = ""
                }
            } else {
                $("#Year").change();
            }

            $("#reportType").change(function () {
                $("#btnSearch").button('loading');
                var params = getParams();
                if (!params) return;
                loadAppealTable(params);

                $("#btnSearch").button('reset');
            });
            $("#btnClear").click(function () {

            });

            $("#btnDownloadReport").click(function () {
                downloadFileBatch();
            });

            $("#createBtn").click(function () {
                var projectId = $("[name=Project]:checked").val();
                var ProjectName = $("[name=Project]:checked").parent().next().text();
                window.location.href = "/Appeal/Create?projectId=" + projectId + "&ProjectName=" + ProjectName;
                return false;
            });
        });
        function loadReportType() {
            $.commonGet("Master/GetReportType", {
                projectId: $("[name=Project]:checked").val() || '',
                reportTypeId: '',
                reportTypeCode: ''
            }, function (data) {
                $("#reportType").empty();
                $("#reportType").append($("<option>").val("").text("全部"));
                if (data && data.length > 0) {
                    data.forEach(function (item) {
                        $("#reportType").append($("<option>").text(item.ReportTypeName).val(item.ReportTypeId));
                    })

                }
            })
        }
        function loadShop(areaId) {
            var data = loginUser["ShopList"];
            if (areaId) {
                data = data.filter(function (shop) {
                    return shop.AreaId == areaId;
                })
            }

            $("#ShopListDiv").find("input:checkbox").iCheck('destroy');
            $("#ShopListDiv").empty();
            if (data) {
                for (i in data) {
                    var item = data[i];
                    var shop = $('<label class="dealer-li"> </label>');
                    shop.append($('<input type="checkbox">').val(item.ShopId))
                        .append($('<font>').text(item.ShopName));
                    $("#ShopListDiv").append(shop);
                }
            }

            $("#ShopListDiv input[type=checkbox]").iCheckParser();
            if ($("#ShopListDiv input[type=checkbox]").length == 1) {
                $("#ShopListDiv input[type=checkbox]").iCheck("check");
            }
        }
        function downloadFileBatch() {
            var params = getParams();
            $("#btnDownloadReport").button('loading');
            $.commonGet("Appeal/AppealExport", params, function (data) {
                $("#btnDownloadReport").button('reset');
                if (data.indexOf("D:") >= 0) {
                    data = data.replace(/\\/g, "/").substr(data.indexOf("DownLoadFile"));
                }
                window.location.href = baseUrl + data;
                console.log(window.location.href)
            });

        }

        function initAppealTable(data) {
            //生成
            $('#appeal-table').bootstrapTable('destroy').bootstrapTable({
                pagination: true,
                data: data,
                showLoading: true,
                striped: true, //是否显示行间隔色
                showColumns: false, // 开启自定义列显示功能
                sortable: true,
                pageNumber: 1,
                pageSize: 20,
                width: "100%",
                pageList: [10, 15, 20, 50],
                height: getClientHeight() - 300,
                columns: [{
                    title: "操作",
                    field: '',
                    width: 150,
                    valign: "middle",
                    align: "center",
                    formatter: function (value, row, index) {
                        return '<a href="/Appeal/Edit?appealId=' + row.AppealId + '&projectId=' + row.ProjectId + '">申诉/详细</a>';
                    }
                }, {
                    title: "经销店代码",
                    field: "ShopCode",
                    width: 120,
                    valign: "middle",
                    align: "center",
                    sortable: true
                }, {
                    title: "经销店名称",
                    field: "ShopName",
                    width: 250,
                    valign: "middle",
                    align: "center",
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value != undefined && value != "")
                            return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                    }
                }, {
                    title: "题号",
                    field: "SubjectCode",
                    width: 100,
                    valign: "middle",
                    align: "center",
                    sortable: true
                }, {
                    title: "检查点",
                    field: "CheckPoint",
                    width: 400,
                    valign: "middle",
                    align: "center",
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value != undefined && value != "")
                            return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                    }
                }, {
                    title: "申诉理由",
                    field: "AppealReason",
                    width: 400,
                    valign: "middle",
                    align: "center",
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value != undefined && value != "")
                            return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                    }
                }, {
                    title: "反馈状态",
                    field: "FeedBackStatusStr",
                    width: 120,
                    valign: "middle",
                    align: "center",
                    sortable: true
                }, {
                    title: "反馈内容",
                    field: "FeedBackReason",
                    width: 400,
                    valign: "middle",
                    align: "center",
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value != undefined && value != "")
                            return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                    }
                }]
            });


        }

        function loadAppealTable(params) {
            $.commonGet("Appeal/GetShopAppealInfoByPage", params, function (data) {
                $('#appeal-table').bootstrapTable("hideLoading");
                $('#appeal-table').bootstrapTable("load", data);
            })
        }
        function syncCol() {
            //注意如果是网络请求没有数据是计算可能会出错所有没有数据的时候判断下
            //$('#table tr:first-child td').length>1 具体可以根据自己表格结构判断下
            $('#appeal-table tr:first-child td').each(function () {
                $($('.fixed-table-header tr th')[$(this).index()]).find(".fht-cell").width($(this).width());
            });
        }
        function getParams() {
            var proRadios = $("[name=Project]:checked");
            if (proRadios.length == 0) {
                alert("请选择期号！");
                return;
            }
            var shopIds = [];
            $("#ShopListDiv input[type='checkbox']:checked").each(function () {
                shopIds.push($(this).val());
            });
            var shopIdStr = shopIds.join(",") || '';
            if (loginUser.RoleType == "B_Shop") {
                getAppealShopSetCheck($("[name=Project]:checked").val() || '', shopIdStr)
            }

            return {
                projectId: $("[name=Project]:checked").val() || '',
                bussinessType: $("#BussinessAreaDiv").find("[name=area-BussinessArea]:checked").val() || '',
                wideArea: $("#WideAreaDiv").find("[name=area-WideArea]:checked").val() || '',
                bigArea: $("#BigAreaDiv").find("[name=area-BigArea]:checked").val() || '',
                middleArea: $("#MiddleAreaDiv").find("[name=area-MiddleArea]:checked").val() || '',
                smallArea: $("#SmallAreaDiv").find("[name=area-SmallArea]:checked").val() || '',
                shopIdStr: shopIdStr,
                keyword: $('#keyword').val() || '',
                pageNum: 1,
                pageCount: 100000,
                roleType: loginUser.RoleType,
                shopType: $("#reportType").val()
            };
        }

    </script>
}
<style>
    #searchForm th {
        vertical-align: middle;
    }
</style>
<div id="container" class="col-md-10">
    <form id="searchForm">
        <table class="table table-bordered" style="border:solid 1px #666">
            <tr style="display:none">
                <th width="85" align="center">
                    业务类型
                </th>
                <td colspan="3">
                    <div id="BussinessAreaDiv">
                    </div>
                </td>
            </tr>
            <tr style="display: none; ">
                <th width="85" align="center">
                    广域区域
                </th>
                <td colspan="3">
                    <div id="WideAreaDiv">
                    </div>
                </td>
            </tr>
            <tr style="display: none; ">
                <th width="85" align="center">
                    大区
                </th>
                <td colspan="3">
                    <div id="BigAreaDiv">
                    </div>
                </td>
            </tr>
            <tr id="middleAreatr">
                <th width="85" align="center">
                    区域
                </th>
                <td colspan="3">
                    <div id="MiddleAreaDiv">
                    </div>
                </td>
            </tr>
            <tr id="smallAreatr">
                <th width="85" align="center">
                    城市
                </th>
                <td colspan="3">
                    <div id="SmallAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    门店
                </th>
                <td colspan="3">
                    <div id="ShopListDiv" style="max-height:300px;overflow-y:auto">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    年份
                </th>
                <td style="width: 100px; vertical-align: middle; " align="center">
                    <select id="Year"></select>

                </td>
                <th width="85" align="center">
                    期号
                </th>
                <td style="width:880px">
                    <div id="ProjectListDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <button type="button" class="btn btn-default" style="width:100px;" id="btnClear">清&nbsp;空</button>
                    <button type="button" class="btn btn-primary" style="width:100px;" id="btnSearch">查&nbsp;询</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="opens">开启搜索</div>
    <div class="sechform"><div class="collapse1 text-center"><div class="i"><font></font></div></div></div>
    @*<form class="form-inline pull-left mb15">
            <div class="form-group">
                <input type="text" class="form-control" name="keyword" id="keyword" placeholder="经销店代码/名称" value="">
            </div>
            <button type="button" id="btnSearchByKey" class="btn btn-default">搜 索</button>
        </form>*@
    <form class="form-inline pull-left mb15">
        <div class="form-group">
            <select class="form-control" name="reportType" id="reportType"></select>
        </div>

        @*<button type="button" id="btnSearchByKey" class="btn btn-default">搜 索</button>*@
    </form>
    <div class="pull-right">
        @*<a id="createBtn" href="#" class="btn btn-primary" style="display:none">申诉登记</a>*@
        @*<a id="btnDownloadReport" href="javascript:void()" class="btn btn-default">导出文件</a>*@
    </div>
    <p></p>
    <div class="list" style="overflow:auto;width:100%; margin-top:10px">
        <div class="table-responsive comm-table-div">
            <table id="appeal-table" class="table table-bordered table-set" data-resizable="true">
                <thead>
                    <tr>
                        <th>操作</th>
                        <th>经销店代码</th>
                        <th>经销店名称</th>
                        <th>题号</th>
                        <th>检查点</th>
                        <th>申诉理由</th>
                        @*<th style="width:70px">申诉人</th>
                            <th style="width:130px">申诉时间</th>*@
                        <th>反馈状态</th>
                        <th>反馈内容</th>
                        @*<th style="width:70px">反馈人</th>
                            <th style="width:130px">反馈时间</th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    @*<div id="pagination" class="pull-right">
            <ul id="pageUl"></ul>
        </div>*@

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                    <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

