@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <select>
        <option value="sdfsf">tttt</option>
    </select>
    </div>
</body>
</html>
