@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="container mt20">*@
<div class="mt20" style="padding:0px 50px">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 menu">
            @*<ul class="list-group">
                    <a class="list-group-item"><h4>报告查询下载</h4></a>
                    <a href="/Report/Index" class="list-group-item">单店报告</a>
                    <a href="/Report/ShopAnswerIndex" class="list-group-item">经销商得分</a>
                    <a href="/Report/LogIndex" class="list-group-item">下载日志</a>
                </ul>*@
            <ul class="list-group">
                <a class="list-group-item"><h4>检核快报</h4></a>
                <a href="/Report/FastRecheck" class="list-group-item">检核快报</a>
                <a href="/Report/LossIndex" class="list-group-item">扣分细节页</a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item"><h4>申诉管理</h4></a>
                <a href="/Appeal/Index" class="list-group-item">申诉查询</a>
            </ul>
            @*<ul class="list-group" id="user-menu" style="display:none">
                    <a class="list-group-item"><h4>用户管理</h4></a>
                    <a href="/Account/ShopAccountIndex" class="list-group-item">用户查询</a>
                </ul>*@
        </div>

        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            if (loginUser.RoleType == "B_Brand") {
                $("#user-menu").show();
            }
        })
    </script>
</div>