@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
    ViewBag.Title = "单店报告";
}

@section scripts{
    <script src="~/Scripts/api.js?20200517"></script>
    <script type="text/javascript" language="javascript">      
        var types = ["BussinessArea", "WideArea", "BigArea", "MiddleArea", "SmallArea"];
        var projectId;
        $(function () {
           
            var roleType = loginUser.RoleType;
            $('.i,.opens').click(function () {
                $('.i').children("font").toggleClass("other");
                $('#searchForm').slideToggle();
                $('#searchForm').toggleClass('');
                $('.opens').slideToggle();
                $('.opens').toggleClass('');
            });
             
            $("#Year").change(function () {
                loadProject($(this).val(), function (data) {
                    $("#Project").empty();
                    if (data && data.length > 0) {
                        data.forEach(function (item) {
                            $("#Project").append($("<option>").text(item.ProjectShortName).val(item.ProjectId));
                        })
                    } else {
                        alert("当前年份无期号！");
                        return;
                    }
                    if (!projectId) {
                        $("#Project").val(data[0].ProjectId);
                    } else {
                        $("#Project").val(projectId);
                    }
                    
                    $("#btnSearch").click();
                });
            });
            for (var i = 2020; i <= 2030; i++) {
                $("#Year").append($("<option>").text(i + "").val(i + ""));
            }
            var tYear = new Date().getFullYear();
            $("#Year").val(tYear);
            $("#Year").change();

            var loadChildArea = function (pType, cType, parentId, callback) {
                var areaList = loginUser[cType + "List"];
                if (areaList) {
                    var areaListDiv = $("#" + cType + "Div");
                    //areaListDiv.find("input:radio").iCheck('destroy');
                    areaListDiv.empty();
                    areaList = areaList.filter(function (item) {
                        if (parentId && item.ParentId) {
                            return item.ParentId == parentId;                            
                        } else {
                            return true;
                        }
                    })
                    areaList.forEach(function (item) {
                        var areaLi = $('<label class="dealer-li"> </label>');
                        areaLi.append($('<input id="area-'+cType+item.AreaId+'" name="area-' + cType + '" type="radio">').val(item.AreaId))
                            .append($('<font>').text(item.AreaName));
                        areaListDiv.append(areaLi);
                    })                   

                    var typeIndex = types.indexOf(cType);
                    if (typeIndex < (types.length - 1)) {
                        var childType = types[typeIndex + 1];
                        areaListDiv.find('input:radio').unbind("ifChecked").on('ifChecked', function (event) {
                            loadChildArea(cType, childType, $(this).val());
                        });                       
                    }                   
                   
                    if (cType == "SmallArea") {
                        //小区点击
                        var radioList = $("#SmallAreaDiv").find('input:radio');
                        radioList.each(function () {
                            var radio = $(this)
                            radio.on('ifChecked', function (event) {
                                var areaId = $(this).val();
                                var data = loginUser["ShopList"];
                                data = data.filter(function (shop) {
                                    return shop.AreaId == areaId;
                                })
                                $("#ShopListDiv").find("input:checkbox").iCheck('destroy');
                                $("#ShopListDiv").empty();
                                if (data) {
                                    for (i in data) {
                                        var item = data[i];
                                        var shop = $('<label class="dealer-li"> </label>');
                                        shop.append($('<input type="checkbox">').val(item.ShopId))
                                            .append($('<font>').text(item.ShopName));
                                        $("#ShopListDiv").append(shop);
                                    }
                                }                                
                               
                                $("#ShopListDiv input[type=checkbox]").iCheckParser();
                                if (roleType == "B_Shop") {
                                    $("#ShopListDiv input[type=checkbox]").iCheck("check");
                                }
                            });
                        })
                    }
                    areaListDiv.find("input[type=radio]").iCheckParser();
                    areaListDiv.find("input[type=radio]:first").iCheck("check");
                }
                if (callback) callback();
            }

            //加载业务类型区域
            loadChildArea(null, "BussinessArea", null);


            //查询
            $("#btnSearch,#btnSearchByKey").click(function () {
                var params = getParams();
                if (!params) return;
                $("#btnSearch").button('loading');
                loadReport(params);
            });

            $("#btnClear").click(function () { 
            });

            $("#btnDownloadReport").click(function () {
                downloadFileBatch();
            });
            
            if (roleType == "B_Shop") {
               
                $("#middleAreatr").hide();
                $("#smallAreatr").hide();
            }
            else {
                $("#middleAreatr").show();
                $("#smallAreatr").show();
            }
        });
        function downloadFileBatch() { 
            var params = getParams();
            params=$.extend({
                userId: loginUser.Id
            }, params);
            $("#btnDownloadReport").button('loading');
            $.commonGet("ReportFile/ReportFileDownLoad", params, function (data) {
                $("#btnDownloadReport").button('reset');
                if (data.indexOf("D:") >= 0) {
                    data = data.replace(/\\/g, "/").substr(data.indexOf("DownLoadFile"));
                }                
                window.location.href = baseUrl + data;
                console.log(window.location.href)
            });
            
        }

        function getParams() {
            var projectId = $("#Project").val();
            if (!projectId) {
                alert("请选择期号！");
                return;
            }
            var shopIds = [];
            $("#ShopListDiv input[type='checkbox']:checked").each(function () {
                shopIds.push($(this).val());
            });
            var shopIdStr = shopIds.join(",") || '';

            return {
               // userId:loginUser.Id,
                projectId: projectId || '',
                bussinessType: $("#BussinessAreaDiv").find("[name=area-BussinessArea]:checked").val() || '',
                wideArea: $("#WideAreaDiv").find("[name=area-WideArea]:checked").val() || '',
                bigArea: $("#BigAreaDiv").find("[name=area-BigArea]:checked").val() || '',
                middleArea: $("#MiddleAreaDiv").find("[name=area-MiddleArea]:checked").val()||'',
                smallArea: $("#SmallAreaDiv").find("[name=area-SmallArea]:checked").val() || '',
                shopIdStr: shopIdStr,
                keyword: $('#keyword').val() || '',
                reportFileType: $('#reportFileType').val() || '',
                pageNum: 1,
                pageCount: 10000
            };
        }
         
    </script>
}
<style>
    #searchForm th {
        vertical-align: middle;
    }
</style>
<div id="container" class="requir col-md-10">
    <form id="searchForm" >
        <table class="table table-bordered" style="border:solid 1px #666">
            <tr>
                <th width="85" align="center">
                    业务类型
                </th>
                <td colspan="3">
                    <div id="BussinessAreaDiv">
                    </div>
                </td>
            </tr>
            <tr style="display: none">
                <th width="85" align="center">
                    广域区域
                </th>
                <td colspan="3">
                    <div id="WideAreaDiv">
                    </div>
                </td>
            </tr>
            <tr >
                <th width="85" align="center">
                    事业部
                </th>
                <td colspan="3">
                    <div id="BigAreaDiv">
                    </div>
                </td>
            </tr>
            <tr style="display: none; ">
                <th width="85" align="center">
                    中区
                </th>
                <td colspan="3">
                    <div id="MiddleAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    办事处
                </th>
                <td colspan="3">
                    <div id="SmallAreaDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    门店
                </th>
                <td colspan="3">
                    <div id="ShopListDiv">
                    </div>
                </td>
            </tr>
            <tr>
                <th width="85" align="center">
                    年份
                </th>
                <td style="width:100px">
                    <select id="Year"></select>
                </td>
                <th width="85" align="center">
                    期号
                </th>
                <td style="width:880px">
                    <div id="ProjectListDiv" style="display:none">
                    </div>
                    <select id="Project" class=""></select>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <button type="button" class="btn btn-default" style="width:100px;" id="btnClear">清&nbsp;空</button>
                    <button type="button" class="btn btn-primary" style="width:100px;" id="btnSearch">查&nbsp;询</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="opens">开启搜索</div>
    <div class="sechform"><div class="collapse1 text-center"><div class="i"><font></font></div></div></div>
    <form class="form-inline pull-left mb15">
        <div class="form-group">
            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="经销店代码/名称" value="">
        </div>
        <div class="form-group">
            <select  class="form-control" name="reportFileType" id="reportFileType">
                <option value="">请选择文件类型</option>
                <option value="01">文件</option>
                @*<option value="02">视频</option>*@
            </select>
        </div>
        
        <button type="button" id="btnSearchByKey" class="btn btn-default">搜 索</button>
    </form>
    <span style="color:red; line-height:40px; font-size:14px; padding:10px;display:none" >业务类型、区域、门店、期号出现无数据情况请联系管理员设置</span>
    <div class="pull-right">
        <a href="javascript:void()" id="btnDownloadReport" class="btn btn-default">导出文件</a>
    </div>
    <div class="clearfix"></div>
    <div class="list" style="overflow:auto;width:100%">
        <div class="comm-table-div">
            <table id="report-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th width="60">下载</th>
                        <th width="80">经销店代码</th>
                        <th width="150">经销店名称</th>
                        <th>文件名称</th>
                        <th width="100">文件类型</th>
                        <th width="120">上传时间</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>
</div>
