@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
    ViewBag.Title = "检核细节";
}


<style>
    #searchForm th {
        vertical-align: middle;
    }

    .condition {
        display: inline-flexbox;
        flex-flow: row wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 20px 30px 20px 23px;
        border-bottom: 1px solid #f2f3f4;
        background: #fff;
        box-shadow: 0 1px 4px 0 #e5e7ea;
        border-radius: 3px;
    }
</style>
<div id="container" class="col-md-10">
    <div class="form-inline condition">
        <div class="form-group" style="width:12%">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:100px;padding-right:20px"></select>
        </div>
        <div class="form-group" style="width:20%">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 200px; padding-right: 20px"></select>
        </div>
        <div id="middle-area-div" class="form-group" style="width:15%">
            <label class="control-label">区域:</label>
            <select id="MiddleArea-sel" class="form-control" style="width: 140px; padding-right: 20px">
                <option value="">全部</option>
            </select>
        </div>
        <div id="small-area-div" class="form-group" style="width: 15%">
            <label class="control-label">城市:</label>
            <select id="SmallArea-sel" class="form-control" style="width: 140px; padding-right: 20px">
                <option value="">全部</option>
            </select>
        </div>
        <div class="form-group" style="width:30%">
            <label class="control-label">门店:</label>
            <select id="shop-sel" class="form-control" style="width: 300px">
                <option value="">全部</option>
            </select>
        </div>
        <button id="btnQuery" class="btn btn-primary">查询</button>
    </div>
    <div class="clearfix"></div>
    <div class="list" style="overflow:auto;width:100%;">
        <div class="comm-table-div">
            <table id="loss-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th width="10%">门店代码</th>
                        <th width="20%">门店名称</th>
                        <th width="10%">一级指标</th>
                        <th width="10%">检核点</th>
                        <th width="50%">检核点是否达标</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>
</div>
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: closePhotoModel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">照片列表</h4>
            </div>
            <div class="modal-body" style="height:500px; overflow-y:auto">
                <div id="galley">
                    <ul class="pictures"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/api.js?20200517"></script>
    <link href="~/Content/viewer/viewer.min.css?20240309" rel="stylesheet" />
    <script src="~/Content/viewer/viewer.min.js"></script>
    <script type="text/javascript" language="javascript">

        var types = ["BussinessArea", "WideArea", "BigArea", "MiddleArea", "SmallArea"];
        $(function () {
            var roleType = loginUser.RoleType;
            $("#year-sel").change(function () {
                loadProject($(this).val(), function (data) {
                    if (data && data.length > 0) {
                        $("#project-sel").empty();
                        data.forEach(function (item) {
                            $("#project-sel").append($("<option>").val(item.ProjectId).text(item.ProjectName));
                        })
                    } else {
                        alert("当前年份无期号！");
                        return;
                    }

                    // setTimeout(function () { $("#btnQuery").click(); }, 300) -- 不自动查询

                });
            });
            for (var i = 2020; i <= 2030; i++) {
                $("#year-sel").append($("<option>").text(i + "").val(i + ""));
            }
            var tYear = new Date().getFullYear();
            $("#year-sel").val(tYear);
            $("#year-sel").change();

            $("#MiddleArea-sel").change(function () {
                var areaId = $(this).val();
                loadArea('SmallArea', areaId)
            })
            $("#SmallArea-sel").change(function () {
                var areaId = $(this).val();
                var data = loginUser["ShopList"];
                data = data.filter(function (shop) {
                    return shop.AreaId == areaId;
                })
                $("#shop-sel").empty();

                if (roleType != 'B_Shop') {
                    $("#shop-sel").append($("<option>").val("").text("全部"));
                    data.forEach(function (item) {
                        $("#shop-sel").append($("<option>").val(item.ShopId).text(item.ShopName));
                    })
                    $("#shop-sel").val('')
                } else {
                    data.forEach(function (item) {
                        $("#shop-sel").append($("<option>").val(item.ShopId).text(item.ShopName));
                    })
                    $("#shop-sel").val(data[0].ShopId)
                }
            })
            var loadArea = function (type, pAreaId) {
                var areaList = [];
                var areaName = []
                var selId = type + "-sel";
                $("#" + selId).empty();
                loginUser[type + "List"].forEach(function (item) {
                    var hasParent = !pAreaId || !item.ParentId || item.ParentId == pAreaId
                    if (areaName.indexOf(item.AreaName) < 0 && hasParent) {
                        areaName.push(item.AreaName)
                        areaList.push(item)
                    }
                })
                if (areaList.length == 1) {
                } else {
                    $("#" + selId).append($("<option>").val("").text("全部"));
                }
                areaList.forEach(function (item) {
                    $("#" + selId).append($("<option>").val(item.AreaId).text(item.AreaName));
                })
                if (areaList.length > 1) {
                    $("#" + selId).val('')
                } else {
                    $("#" + selId).val(areaList[0].AreaId).change()
                }
            }
            loadArea('MiddleArea')
            if (roleType == 'B_Shop') {
                $("#middle-area-div").hide()
                $("#small-area-div").hide()
                $("#shop-sel").empty();
                let item = loginUser["ShopList"][0]
                $("#shop-sel").append($("<option>").val(item.ShopId).text(item.ShopName));
                $("#shop-sel").val(item.ShopId)
            } else {
                loadArea('MiddleArea')
            }

            //查询
            $("#btnQuery").click(function () {
                if ($("#project-sel").length == 0) {
                    alert("请选择期号！");
                    return;
                }
                $("#btnQuery").button('loading');
                var params = getParams()
                $.commonGet("ReportFile/ReportShopLossResult", params, function (data) {
                    console.log('ReportShopLossResult data', data)
                    $("#btnQuery").button('reset');

                    var total = data.length;

                    var pageClick = function (curPage) {
                        params.pageNum = curPage || 1;

                        curPageNum = curPage;
                        var pageLst = data.filter(function (item, i, self) {
                            var start = curPage > 0 ? (curPage - 1) * pageSize : 0;
                            return (i >= start && i < (start + pageSize));
                        })
                        $("#loss-table tbody").empty();
                        $.each(pageLst, function (i, item) {
                            //page
                            var tr = $("<tr>");

                            tr.append($("<td></td>").html(item.ShopCode));
                            tr.append($("<td></td>").html(item.ShopName));
                            tr.append($("<td></td>").html(item.ChapterName));
                            tr.append($("<td></td>").html(item.CheckPoint));
                            var aLoss = $("<a>").html(item.LossResultAdd)
                            aLoss.click(function () {
                                viewPicutes(item.LossResultPicStr)
                            })
                            var tdLoss = $("<td style='text-align:left'></td>").append(aLoss)

                            tr.append(tdLoss);


                            $("#loss-table tbody").append(tr);
                        })

                        createPage(total, curPage, pageSize, pageClick);
                    }

                    pageClick(1);
                }, function () { $("#btnQuery").button('reset'); })
            });

            $("#btnClear").click(function () {
            });
        });


        function getParams() {
            return {
                // userId:loginUser.Id,
                projectId: $("#project-sel").val(),
                bussinessType: loginUser.BussinessAreaList[0].AreaId,
                wideArea: '',
                bigArea: '',
                middleArea: $("#MiddleArea-sel").val(),
                smallArea: $("#SmallArea-sel").val(),
                shopIdStr: $("#shop-sel").val(),
                keyword: '',
                pageNum: 1,
                pageCount: 10000
            };
        }

    </script>
}
