@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
    ViewBag.Title = "扣分细节页";
}


<style>
    #searchForm th {
        vertical-align: middle;
    }

    .condition {
        display: inline-flexbox;
        flex-flow: row wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 20px 30px 20px 23px;
        border-bottom: 1px solid #f2f3f4;
        background: #fff;
        box-shadow: 0 1px 4px 0 #e5e7ea;
        border-radius: 3px;
    }
</style>
<div id="container" class="col-md-10"> 
    <div class="form-inline condition">
        <div class="form-group" style="width:15%">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:100px;padding-right:20px"></select>
        </div>
        <div class="form-group" style="width:20%">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 140px; padding-right: 20px"></select>
        </div>
        <div class="form-group" style="width:20%">
            <label class="control-label">区域:</label>
            <select id="area-sel" class="form-control" style="width: 140px; padding-right: 20px"></select>
        </div>
        <div class="form-group" style="width:35%">
            <label class="control-label">经销商:</label>
            <select id="shop-sel" class="form-control" style="width: 300px"></select>
        </div>
        <button id="btnQuery" class="btn btn-primary">查询</button> 
    </div> 
    <div class="clearfix"></div>
    <div class="list" style="overflow:auto;width:100%;">
        <div class="comm-table-div">
            <table id="loss-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th width="10%">经销店代码</th>
                        <th width="20%">经销店名称</th> 
                        <th width="10%">一级指标</th>
                        <th width="10%">检核点</th>
                        <th width="50%">检核点是否达标</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/api.js?20200517"></script>
    <script type="text/javascript" language="javascript">

        var types = ["BussinessArea", "WideArea", "BigArea", "MiddleArea", "SmallArea"];
        $(function () {
            var roleType = loginUser.RoleType;
            $("#year-sel").change(function () {
                loadProject($(this).val(), function (data) {
                    if (data && data.length > 0) {
                        $("#project-sel").empty();
                        data.forEach(function (item) {
                            $("#project-sel").append($("<option>").val(item.ProjectId).text(item.ProjectName));
                        })
                    } else {
                        alert("当前年份无期号！");
                        return;
                    }

                    setTimeout(function () { $("#btnQuery").click(); }, 300)

                });
            });
            for (var i = 2020; i <= 2030; i++) {
                $("#year-sel").append($("<option>").text(i + "").val(i + ""));
            }
            var tYear = new Date().getFullYear();
            $("#year-sel").val(tYear);
            $("#year-sel").change();
            $("#shop-sel").empty();
            $("#shop-sel").append($("<option>").val("").text("全部"));
            $("#area-sel").change(function () {
                var areaId = $(this).val();
                var data = loginUser["ShopList"];
                data = data.filter(function (shop) {
                    return shop.AreaId == areaId;
                })
                $("#shop-sel").empty();
                $("#shop-sel").append($("<option>").val("").text("全部"));
                if (roleType != 'B_Shop') {
                    data.forEach(function (item) {
                        $("#shop-sel").append($("<option>").val(item.ShopId).text(item.ShopName));
                    })
                    $("#shop-sel").val('')
                } else {
                    data.forEach(function (item) {
                        $("#shop-sel").append($("<option>").val(item.ShopId).text(item.ShopName));
                    })
                    
                    $("#shop-sel").val(data[0].ShopId)
                }
            })
            if (loginUser.SmallAreaList) {
                $("#area-sel").empty();

                if (loginUser.SmallAreaList.length == 1) {
                } else {
                    $("#area-sel").append($("<option>").val("").text("全部"));
                }
                loginUser.SmallAreaList.forEach(function (item) {
                    $("#area-sel").append($("<option>").val(item.AreaId).text(item.AreaName));
                })
                if (loginUser.SmallAreaList.length > 1) {
                    $("#area-sel").val('')
                } else {
                    $("#area-sel").val(loginUser.SmallAreaList[0].AreaId).change()
                }
            }

            //查询
            $("#btnQuery").click(function () {
                if ($("#project-sel").length == 0) {
                    alert("请选择期号！");
                    return;
                }
                $("#btnQuery").button('loading');
                var params = getParams()
                $.commonGet("ReportFile/ReportShopLossResult", params, function (data) {
                    console.log('ReportShopLossResult data', data)
                    $("#btnQuery").button('reset');

                    var total = data.length;

                    var pageClick = function (curPage) {
                        params.pageNum = curPage || 1;

                        curPageNum = curPage;
                        var pageLst = data.filter(function (item, i, self) {
                            var start = curPage > 0 ? (curPage - 1) * pageSize : 0;
                            return (i >= start && i < (start + pageSize));
                        })
                        $("#loss-table tbody").empty();
                        $.each(pageLst, function (i, item) {
                            //page
                            var tr = $("<tr>");

                            tr.append($("<td></td>").html(item.ShopCode));
                            tr.append($("<td></td>").html(item.ShopName));
                            tr.append($("<td></td>").html(item.ChapterName));
                            tr.append($("<td></td>").html(item.CheckPoint));
                            tr.append($("<td style='text-align:left'></td>").html(item.LossResultStr));

                            $("#loss-table tbody").append(tr);
                        })

                        createPage(total, curPage, pageSize, pageClick);
                    }

                    pageClick(1);
                })
            });

            $("#btnClear").click(function () {
            });
        });


        function getParams() {
            return {
                // userId:loginUser.Id,
                projectId: $("#project-sel").val(),
                bussinessType: loginUser.BussinessAreaList[0].AreaId,
                wideArea:  '',
                bigArea: '',
                middleArea:  '',
                smallArea: $("#area-sel").val(),
                shopIdStr: $("#shop-sel").val(),
                keyword: '',
                pageNum: 1,
                pageCount: 10000
            };
        }

    </script>
}
