@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
    ViewBag.Title = "得分详细";
}

@section scripts{
    <link href="~/Content/baguetteBox/baguetteBox.css" rel="stylesheet" />
    <script src="~/Scripts/api.js"></script>
    <script src="~/Scripts/custom/form-serialize.js"></script>
    <script src="~/Content/baguetteBox/baguetteBox.js"></script>

    <script>
        var fileList = [];
        var projectId = "@ViewBag.ProjectId";
        var shopId = "@ViewBag.ShopId";
        var subjectId = "@ViewBag.SubjectId";
        $(function () {
            var userId = loginUser.Id;
            getShopAnswerSubject(projectId, shopId, subjectId, function (data) {
                data = data[0];
                $("#answer-form").setForm(data);
                //$("#ProjectName").html(data.ProjectName);
                $("#ShopName").html(data.ShopName);
                $("#SubjectCode").html(data.SubjectCode);
                $("#PhotoScore").html(data.PhotoScore);
                $("#Remark").html(data.Remark);
                $("#CheckPoint").html(data.CheckPoint);
                $("#InspectionDesc").html(data.InspectionDesc);
                $("#Desc").html(data.Desc);
                bindIns(data);
                bindPhoto(data);
                bindLossResutl(data);
            });
        })
        function bindIns(data) {
            $("#ins-table tbody").empty();
            if (data) {
                debugger
                let inspectionStandardResult = data.InspectionStandardResult ? JSON.parse(data.InspectionStandardResult) : []
                data.SubjectInspectionStandardList = data.SubjectInspectionStandardList.map(function (o) {
                    let findOne = inspectionStandardResult.find(function (r) { return r.SubjectId == o.SubjectId && r.SeqNO == o.SeqNO })
                    if (findOne) {
                        o.AnswerResult = findOne.AnswerResult
                    }
                    return o
                })
                $.each(data.SubjectInspectionStandardList, function (i, item) {
                    var tr = $("<tr>");
                    tr.append($("<td>").html(item.SeqNO));
                    tr.append($("<td>").html(item.InspectionStandardName));
                    tr.append($("<td>").html(item.AnswerResult));

                    $("#ins-table tbody").append(tr);
                });
            }
        }
        function bindPhoto(data) {
            $("#photo-table tbody").empty();
            if (data) {
                let FileResult = data.FileResult ? JSON.parse(data.FileResult) : []
                data.SubjectFileList = data.SubjectFileList.map(function (o) {
                    let findOne = FileResult.find(function (r) { return r.SubjectId == o.SubjectId && r.SeqNO == o.SeqNO })
                    if (findOne) {
                        o.Url = findOne.Url
                    }
                    return o
                })
                $.each(data.SubjectFileList, function (i, item) {
                    var tr = $("<tr>");
                    tr.append($("<td>").html(item.SeqNO));
                    tr.append($("<td>").html(item.FileName));
                    var viewBtn = $('<a class="btn btn-priamry">查看</a>')
                    viewBtn.click(function () {
                        viewLossFile(item.Url)
                    })
                    tr.append($("<td>").append(viewBtn))
                    //tr.append($("<td>").html(item.Url));

                    $("#photo-table tbody").append(tr);
                });
            }
        }
        function bindLossResutl(data) {
            $("#lossResutl-table tbody").empty();
            if (data) {
                let LossResult = data.LossResult ? JSON.parse(data.LossResult) : []
                $.each(LossResult, function (i, item) {
                    var tr = $("<tr>");
                    // tr.append($("<td>").html(item.SeqNO));
                    tr.append($("<td>").html(item.LossDesc));
                    tr.append($("<td>").html(item.LossDesc2));
                    var viewBtn = $('<a class="btn btn-priamry">查看</a>')
                    viewBtn.click(function () {
                        viewLossFile(item.LossFileNameUrl)
                    })
                    //tr.append($("<td>").html(item.LossFileNameUrl));
                    tr.append($("<td>").append(viewBtn))

                    $("#lossResutl-table tbody").append(tr);
                });
            }
        }


        function viewLossFile(url) {
            let fileList = url ? url.split(',') : []
            if (!fileList || fileList.length == 0) {
                alert("没有照片！")
                return;
            }
            if ($("#baguetteBox").length > 0) {
                $("#baguetteBox").remove()
            }
            if ($("#baguetteBox-overlay").length > 0) {
                $("#baguetteBox-overlay").remove()
            }
             
            var imgBox = $('<div id="baguetteBox" class="baguetteBox" style="display:none">');
            $(document.body).append(imgBox);
            var count = fileList.length;
            $.each(fileList, function (i, item) {
                var imgUrl = window.localStorage.osshost + item;
                var imgThumbUrl = imgUrl + '?x-oss-process=image/resize,m_fill,h_180,w_240';
                var imagA = $('<a></a>');
                let name = item.substr(item.lastIndexOf('/') + 1);
                var img = $('<img>').attr('src', imgThumbUrl).attr("alt", (i + 1) + "/" + count + "   " + name);
                $(imagA).append(img);
                $(imagA).attr('href', imgUrl);
                $(imagA).attr('data-caption', (i + 1) + "/" + count + "   " + name);

                imgBox.append(imagA);
            })
            baguetteBox.run('#baguetteBox');

            setTimeout(function () {
                imgBox.find("a:first img").click();
            }, 300)
        }
    </script>
}

<div class="requir col-md-10">
    <form id="answer-form">
        <table class="table table-bordered" style="margin-bottom:0px;">
            <tr>
                <th style="width:40px;">经销店</th>
                <td style="width: 150px;">
                    <span id="ShopName"></span>
                </td>
                <th style="width:40px;">体系号</th>
                <td style="width: 50px;">
                    <span id="SubjectCode"></span>
                </td>
                <th style="width:40px;">得分</th>
                <td style="width: 50px;">
                    <span id="PhotoScore"></span>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">备注</th>
                <td colspan="5">
                    <span id="Remark"></span>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">检查点</th>
                <td colspan="5">
                    <span id="CheckPoint"></span>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">检查标准</th>
                <td colspan="5">
                    <span id="InspectionDesc"></span>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">说明</th>
                <td colspan="5">
                    <span id="Desc"></span>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">检查标准</th>
                <td colspan="5">
                    <table id="ins-table" class="table table-bordered table-condensed list" style="margin-bottom:10px;font-size:12px">
                        <thead>
                            <tr>
                                <th style="width:10px">序号</th>
                                <th class="col-md-4">检查标准</th>
                                <th class="col-md-1">检查结果</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">标准照片</th>
                <td colspan="5">
                    <table id="photo-table" class="table table-bordered table-condensed list" style="margin-bottom:10px;font-size:12px">
                        <thead>
                            <tr>
                                <th style="width:10px">序号</th>
                                <th class="col-md-4">标准照片</th>
                                <th class="col-md-1">查看照片</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">失分说明</th>
                <td colspan="5">
                    <table id="lossResutl-table" class="table table-bordered table-condensed list" style="margin-bottom:10px;font-size:12px">
                        <thead>
                            <tr>
                                @*<th style="width:10px">序号</th>*@
                                <th class="col-md-5">失分说明</th>
                                <th class="col-md-3">补充说明</th>
                                <th class="col-md-1">查看照片</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>
